<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="ClothesOnlineApp"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <!-- HOME / LAUNCHER -->
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DETAIL -->
        <activity
            android:name=".ui.detail.DetailActivity"
            android:exported="false" />

        <!-- CART -->
        <activity
            android:name=".ui.cart.CartActivity"
            android:exported="false" />

        <!-- CHECKOUT -->
        <activity
            android:name=".ui.checkout.CheckoutActivity"
            android:exported="false" />

        <!-- DASHBOARD (if you still use it) -->
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false" />

    </application>

</manifest>