<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ✅ REQUIRED FOR FIREBASE / INTERNET -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="Clothes App"
        android:icon="@drawable/img_3"
        android:roundIcon="@drawable/img_3"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClothesApp">

        <!-- DASHBOARD (LAUNCHER) -->
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- DETAIL -->
        <activity
            android:name=".ui.detail.DetailActivity"
            android:exported="false" />

        <!-- CHECKOUT -->
        <activity
            android:name=".ui.checkout.CheckoutActivity"
            android:exported="false" />

        <!-- PAYMENT SUCCESS -->
        <activity
            android:name=".ui.checkout.PaymentSuccessActivity"
            android:exported="false" />

        <!-- ORDERS LIST -->
        <activity
            android:name=".order.OrdersActivity"
            android:exported="false" />


    </application>
</manifest>